[user]
	name = Stefan Radu
	signingKey = /home/zenbassi/.ssh/id_ed25519.pub
	email = 30214214+Stefan-Radu@users.noreply.github.com
[status]
	showUntrackedFiles = no
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = false
[credential]
	helper = cache
[init]
	defaultBranch = master
[commit]
	template = /home/zenbassi/.config/nvim/templates/commit-conventions.txt
	gpgSign = true
[core]
	editor = nvim +17 -c startinsert
[gpg]
	format = ssh
